<div class="block-news-content">
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-1.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">david hall</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.david-hall.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-2.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Jayden Gill</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.jayden-gill.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-3.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Don Baldwin</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.don-baldwin.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-4.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Alvin Chandler</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.alvin-chandler.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-5.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Alfred Farmer</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.alfred-farmer.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-6.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Clara Erickson</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.clara-erickson.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-7.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Pauline George</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.pauline-george.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="author-layout">
            <div class="wrapper-images">
                <a href="#" class="news-image"><img src="assets/images/author-images/image-8.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="wrapper-content">
                <div class="wrapper-info">
                    <div class="left-info"><a href="#" class="name">Michael Hamilton</a>
                        <ul class="list-inline list-unstyled list-post">
                            <li>
                                <p class="text">125 posts</p>
                            </li>
                            <li>
                                <p class="text">26 comments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info"><a href="#" class="link-web">http://www.michael-amilton.com</a>
                        <ul class="list-inline list-unstyled socials">
                            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-description">
                    <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true
                        in astronomy both in terms of terms.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="pagination-wrapper">
    <ul class="pagination">
        <li><a href="#" aria-label="Previous" class="pagi-link prev"><span aria-hidden="true">prev</span></a></li>
        <li><a href="#" class="pagi-link">1</a></li>
        <li class="active"><a href="#" class="pagi-link">2</a></li>
        <li><a href="#" class="pagi-link">3</a></li>
        <li><a href="#" class="pagi-link">4</a></li>
        <li><a href="#" aria-label="Next" class="pagi-link next"><span aria-hidden="true">next</span></a></li>
    </ul>
    <div class="position-page">Page <span class="active">2 </span>of 6</div>
    <div class="clearfix"></div>
</nav>