<div class="breadcrumb-container">
    <div class="container">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                <li class="breadcrumb-item"><a href="author-list.html" class="breadcrumb-link">author</a></li>
                <li class="breadcrumb-item"><span class="breadcrumb-active">{{ authorDetailCtrl.newses[0]._author.nickname }}</span></li>
            </ol>
            <div class="breadcrumb-text">{{ authorDetailCtrl.newses[0]._author.nickname }}</div>
        </div>
    </div>
</div>
<div class="main-news-wrapper padding-top-80 padding-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 main-news main-left">
                <!-- AUTHOR DETAIL-->
                <div class="author-layout margin-bottom-60" >
                    <div class="wrapper-images">
                        <div class="news-image"><img ng-src="{{ authorDetailCtrl.newses[0]._author.avatar }}" alt="" class="img-responsive"></div>
                    </div>
                    <div class="wrapper-content">
                        <div class="wrapper-info">
                            <div class="left-info"><a href="#" class="name">{{ authorDetailCtrl.newses[0]._author.nickname }}</a>
                                <ul class="list-inline list-unstyled list-post">
                                    <li>
                                        <p class="text">{{authorDetailCtrl.pages}} pages</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-info"><a href="#" class="link-web">{{authorDetailCtrl.newses[0]._author.fullname}}</a>
                                <ul class="list-inline list-unstyled socials">
                                    <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="link google"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="link instagram"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="link instagram"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrapper-description">
                            <p class="text">When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts. This is certainly true in astronomy.</p>
                            <p
                                    class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat.</p>
                            <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        </div>
                    </div>
                </div>
                <!-- BLOCK LIST 2 COLUMN-->
                <div class="block-list column-2">
                    <div class="title-topic">post by author</div>
                    <div class="block-news-content">
                        <div class="block-item" ng-repeat="news in authorDetailCtrl.newses">
                            <div class="news-layout-1">
                                <div class="news-video">
                                    <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="news-content">
                                    <div class="label-wrapper"><a href="#category/{{ news._category._id }}/page/1" class="label-topic">{{ news._category.name }}</a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                                    <div class="info-wrapper">
                                        <div class="info-left">
                                            <div class="comment-wrapper">
                                                <div class="comment-avatar">
                                                    <div class="avatar avatar-1">T</div>
                                                    <div class="avatar avatar-2">M</div>
                                                    <div class="avatar avatar-3">A</div>
                                                </div>
                                                <div class="comment-info">... comments</div>
                                            </div>
                                        </div>
                                        <div class="info-right">
                                            <ul class="info">
                                                <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                                <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="pagination-wrapper">
                        <ul class="pagination">
                            <li ng-show="!authorDetailCtrl.isHead"><a href="#" aria-label="Previous" class="pagi-link prev"><span aria-hidden="true">prev</span></a></li>
                            <li ng-repeat="pagi in authorDetailCtrl.listPage" ng-class="{ active:pagi.active }">
                                <a href="#author/{{ authorDetailCtrl.newses[0]._author._id }}/page/{{ pagi.index }}" class="pagi-link">{{ pagi.index }}</a>
                            </li>
                            <li ng-show="!authorDetailCtrl.isTail"><a href="#" aria-label="Next" class="pagi-link next"><span aria-hidden="true">next</span></a></li>
                        </ul>
                        <div class="position-page">Page <span class="active">{{ authorDetailCtrl.currentPage }} </span>of {{ authorDetailCtrl.pageCount }}</div>
                        <div class="clearfix"></div>
                    </nav>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 sidebar">
                <div class="sidebar-wrapper">
                    <div class="col-2">
                        <banner-sidebar></banner-sidebar>
                        <featured-by-author></featured-by-author>
                    </div>
                    <div class="col-2">
                        <featured-video></featured-video>
                        <subscribe-feed></subscribe-feed>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>