<div class="banner-slide-homepage">
    <div class="container">
        <div class="banner-slide-homepage-wrapper overflow-hidden">
            <div class="list-items">
                <div class="item">
                    <div class="news-layout-3 big">
                        <a href="#" class="news-image"><img src="assets/images/big-images/slide-2.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="label-topic"><span>entertainment</span></a><a href="#" class="title">GoFundMe campaign launched to help raise $53 million for Kanye West</a>
                            <ul class="info">
                                <li> <a href="#" class="link">By timothy</a></li>
                                <li><a href="#" class="link">May 15, 2016</a></li>
                                <li><a href="#" class="link">15 likes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="news-layout-3 big">
                        <a href="#" class="news-image"><img src="assets/images/big-images/slide-2.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="label-topic"><span>ChangeLife</span></a><a href="#" class="title">Thousands Of Tiny Red Crabs Have Taken Over Orange County Beaches</a>
                            <ul class="info">
                                <li><a href="#" class="link">By timothy</a></li>
                                <li><a href="#" class="link">May 30, 2016</a></li>
                                <li><a href="#" class="link">36 likes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
