<div class="banner-slide-homepage">
    <div class="container">
        <div class="banner-slide-homepage-wrapper overflow-hidden">
            <div class="list-items">
                <div class="item" ng-repeat=" news in bannerDefaultCtrl.newses | limitTo:3:0 ">
                    <div class="news-layout-3 big">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#category/{{ news._category._id }}" class="label-topic"><span>{{ news._category.name }}</span></a><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">By {{news._author.nickname}}</a></li>
                                <li><a href="#" class="link">{{news.dateCreated * 1000 | date:"dd-MM-yyyy"}}</a></li>
                                <li><a href="#" class="link">{{news.likeCount}} likes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
