<div class="list-news-widget widget">
    <div class="title-topic">latest news</div>
    <div class="content-widget">
        <!-- BLOCK 3-->
        <div class="block-news-3">
            <div class="block-news-content">
                <div class="layout-main-news">
                    <div class="news-layout-1">
                        <div class="news-video">
                            <a href="#post/{{ lastNewsCtrl.newses[0]._id }}" class="news-image"><img ng-src="{{lastNewsCtrl.newses[0].poster}}" alt="" class="img-responsive"></a>
                            <div class="group-btn-video"><span class="btn-play"><i class="fa fa-play"></i></span><span class="btn-volume"><i class="fa fa-volume-off"></i></span><span class="btn-zoom"><i class="fa fa-arrows-alt"></i></span></div>
                        </div>
                        <div class="news-content"><a href="#post/{{ lastNewsCtrl.newses[0]._id }}" class="title">{{lastNewsCtrl.newses[0].title}}</a>
                            <ul class="info">
                                <li><a href="#" class="link">by {{lastNewsCtrl.newses[0]._author.nickname }}</a></li>
                                <li><a href="#" class="link">{{lastNewsCtrl.newses[0].dateCreated * 1000 | date:"dd-MM-yyyy" }}</a></li>
                                <li><a href="#" class="link">{{lastNewsCtrl.newses[0].readCount}} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layout-list-news">
                    <div class="single-recent-post-widget" ng-repeat="news in lastNewsCtrl.newses | limitTo:4:1 ">
                        <div class="img-wrapper">
                            <a href="#post/{{ news._id }}" class="thumb"><img src="{{news.poster}}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#post/{{ news._id }}" class="title">{{news.title}}</a>
                            <ul class="info">
                                <li><a href="#" class="link">by {{news._author.nickname }}</a></li>
                                <li><a href="#" class="link">{{news.dateCreated * 1000 | date:"dd-MM-yyyy"}}</a></li>
                                <li><a href="#" class="link">{{news.readCount}} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>