<div class="breadcrumb-container">
    <div class="container">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                <li class="breadcrumb-item"><a href="#category/{{ singlePostCtrl.news._category._id }}/page/1" class="breadcrumb-link">{{ singlePostCtrl.news._category.name }}</a></li>
            </ol>
            <div class="breadcrumb-text">{{ singlePostCtrl.news.title }}</div>
        </div>
    </div>
</div>
<div class="single-post padding-top-80 padding-bottom-80">
    <div class="container">
        <div class="title-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="title-topic title-single-post">entertainment</div>
                </div>
                <div class="col-md-9">
                    <div class="social-action-wrapper">
                        <div class="action-text">follow <span class="identity">TVT News</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12 main-news main-left">
                <h1 class="title-post">{{ singlePostCtrl.news.title }}</h1>
                <!-- SHARE BUTTONS-->
                <div class="sharing-wrapper">
                    <div class="item">
                        <div class="figure-wrapper">
                            <div class="figure-data">{{ singlePostCtrl.news.shareCount }}</div>
                            <div ng-show="singlePostCtrl.news.shareCount >= 2" class="figure-text">shares</div>
                            <div ng-show="singlePostCtrl.news.shareCount < 2" class="figure-text">share</div>
                        </div>
                    </div>
                    <div class="item"><a ng-click="sharePost()" class="button share-facebook"><i class="fa fa-facebook ic-social hovered"></i><i class="fa fa-facebook ic-social unhovered"></i><div class="share-text">Share</div></a></div>
                    <div class="item"><a href="#" class="button share-twitter"><i class="fa fa-twitter ic-social hovered"></i><i class="fa fa-twitter ic-social unhovered"></i><div class="share-text">Share</div></a></div>
                    <div class="item other-share-wrapper"><a class="button other-share share-gplus"><i class="fa fa-google-plus"></i></a><a class="button other-share share-pinterest"><i class="fa fa-pinterest"></i></a><a class="button other-share share-linkedin"><i class="fa fa-linkedin"></i></a></div>
                    <div class="item"><a class="button button-more"><i class="fa fa-ellipsis-h ic-more"></i><div class="share-text more">more</div><i class="fa fa-caret-left ic-less hide"></i><div class="share-text less hide">less</div></a></div>
                </div>
                <!-- MAIN CONTENT OF POST-->
                <div class="main-content"><img src="{{ singlePostCtrl.news.poster }}" alt="" class="img-responsive content-image">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="writter-info-wrapper">
                                    <a href="#author/{{ singlePostCtrl.news._author._id }}/page/1"><img src="{{ singlePostCtrl.news._author.avatar }}" class="img-responsive writter-pic"></a>
                                    <div class="writter-text-wrapper"><a href="#author/{{ singlePostCtrl.news._author._id }}/page/1" class="link writter-text">By <span class="writter-name">{{ singlePostCtrl.news._author.nickname }}</span></a>
                                        <ul class="info">
                                            <li><a href="#" class="link">{{ singlePostCtrl.news.dateCreated * 1000 | date:'HH:mm:ss dd-MM-yyyy' }}</a></li>
                                            <li><a href="#" class="link">{{ singlePostCtrl.news.readCount }} views</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="content-post-wrapper">
                                    <div ng-bind-html="singlePostCtrl.news.body"></div>
                                    <div class="tag-wrapper"><i class="fa fa-tag icon-tag"></i>
                                        <ul class="list-tag" ng-repeat="tag in singlePostCtrl.news.tags">
                                            <li class="item-tag"><a href="#search/{{ tag }}/page/1" class="tag">{{ tag }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- RELATED POST-->
                <related-news></related-news>
                <!-- COMMENTS-->
                <comment-in-single-post></comment-in-single-post>
            </div>
            <!-- SIDEBAR-->
            <div class="col-md-4 col-xs-12 sidebar">
                <div class="sidebar-wrapper">
                    <div class="col-2">
                        <div class="banner-widget widget">
                            <div class="section-content">
                                <a href="#" class="link"><img src="assets/images/qc-images/banner-300x250_2.jpg" alt="" class="img-responsive"></a>
                            </div>
                        </div>
                        <lastest-news></lastest-news>
                        <subscribe-feed></subscribe-feed>
                    </div>
                    <div class="col-2">
                        <more-author></more-author>
                        <featured-video></featured-video>
                        <tags-widget></tags-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>