<div class="title-topic">popular news</div>
<div class="block-news-content slick-1-item-fade">
    <div class="item">
        <div class="layout-main-news">
            <div class="news-layout-1 big bg-gray" ng-repeat="news in popularNewsCtrl.popularNews | limitTo:1:0">
                <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" alt="" class="img-responsive"></a>
                <div class="news-content">
                    <div class="label-wrapper"><a href="#post/{{ news._id }}" class="label-topic">{{ news._category._name }}</a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <div class="comment-wrapper">
                                <div class="comment-avatar">
                                    <div class="avatar avatar-1">T</div>
                                    <div class="avatar avatar-2">M</div>
                                    <div class="avatar avatar-3">A</div>
                                </div>
                                <div class="comment-info">{{ news.commentCount }} comments</div>
                            </div>
                        </div>
                        <div class="info-right">
                            <ul class="info">
                                <li><a href="#" class="link">By {{ news._author.nickname }}</a></li>
                                <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-list-news">
            <div class="single-recent-post-widget" ng-repeat="news in popularNewsCtrl.popularNews | limitTo:4:1">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#post/{{ news._id }}" class="label-topic">{{ news._category.name }}</a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                    <ul class="info">
                        <li><a href="#" class="link">By {{ news._author.nickname }}</a></li>
                        <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                        <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="item">
        <div class="layout-main-news">
            <div class="news-layout-1 big bg-gray" ng-repeat="news in popularNewsCtrl.popularNews | limitTo:1:5">
                <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" alt="" class="img-responsive"></a>
                <div class="news-content">
                    <div class="label-wrapper"><a href="#post/{{ news._id }}" class="label-topic">{{ news._category.name }}</a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <div class="comment-wrapper">
                                <div class="comment-avatar">
                                    <div class="avatar avatar-1">T</div>
                                    <div class="avatar avatar-2">M</div>
                                    <div class="avatar avatar-3">A</div>
                                </div>
                                <div class="comment-info">{{ news.commentCount }} comments</div>
                            </div>
                        </div>
                        <div class="info-right">
                            <ul class="info">
                                <li><a href="#" class="link">By {{ news._author.nickname }}</a></li>
                                <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-list-news">
            <div class="single-recent-post-widget" ng-repeat="news in popularNewsCtrl.popularNews | limitTo:4:6">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#post/{{ news._id }}" class="label-topic">{{ news._category.name }}</a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                    <ul class="info">
                        <li><a href="#" class="link">By {{ news._author.nickname }}</a></li>
                        <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                        <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="group-btn-slick">
    <div class="btn-slick-prev"><i class="fa fa-angle-left"></i></div>
    <div class="btn-slick-next"><i class="fa fa-angle-right"></i></div>
</div>