<div class="title-topic">popular news</div>
<div class="block-news-content slick-1-item-fade">
    <div class="item">
        <div class="layout-main-news">
            <div class="news-layout-1 big bg-gray">
                <a href="#" class="news-image"><img src="assets/images/big-images/image-1.jpg" alt="" class="img-responsive"></a>
                <div class="news-content">
                    <div class="label-wrapper"><a href="#" class="label-topic">world</a></div><a href="#" class="title">Global Resorts Network Gen Putting Timeshares To Shame</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <div class="comment-wrapper">
                                <div class="comment-avatar">
                                    <div class="avatar avatar-1">T</div>
                                    <div class="avatar avatar-2">M</div>
                                    <div class="avatar avatar-3">A</div>
                                </div>
                                <div class="comment-info">6 comments</div>
                            </div>
                        </div>
                        <div class="info-right">
                            <ul class="info">
                                <li><a href="#" class="link">By timothy</a></li>
                                <li><a href="#" class="link">May 29, 2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-list-news">
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">travel</a></div><a href="#" class="title">Replication For Dummies 4 Easy Steps To Professional DVD</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">world</a></div><a href="#" class="title">Sensible Beauty Tips For Enhancing Your Appearance</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">science</a></div><a href="#" class="title">An Ugly Myspace Profile Will Sure Ruin Your Reputation</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">sport</a></div><a href="#" class="title">Benjamin Franklin S Method Of Habit Formation</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="item">
        <div class="layout-main-news">
            <div class="news-layout-1 big bg-gray">
                <a href="#" class="news-image"><img src="assets/images/big-images/image-2.jpg" alt="" class="img-responsive"></a>
                <div class="news-content">
                    <div class="label-wrapper"><a href="#" class="label-topic">design</a></div><a href="#" class="title">An Ugly Profile Will Sure Ruin Your Reputation</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <div class="comment-wrapper">
                                <div class="comment-avatar">
                                    <div class="avatar avatar-1">T</div>
                                    <div class="avatar avatar-2">M</div>
                                    <div class="avatar avatar-3">A</div>
                                </div>
                                <div class="comment-info">6 comments</div>
                            </div>
                        </div>
                        <div class="info-right">
                            <ul class="info">
                                <li><a href="#" class="link">By timothy</a></li>
                                <li><a href="#" class="link">May 29,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-list-news">
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">fashion</a></div><a href="#" class="title">Stu Unger Rise And Fall Of A Poker Genius</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">travel</a></div><a href="#" class="title">Herbal Skin Care Secrets Hidden At The Greengrocer</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">world</a></div><a href="#" class="title">Addiction When Gambling Becomes A Problem</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
            <div class="single-recent-post-widget">
                <div class="post-info">
                    <div class="label-wrapper"><a href="#" class="label-topic">entertainment</a></div><a href="#" class="title">How To Play Texas Holdem For Beginners</a>
                    <ul class="info">
                        <li><a href="#" class="link">By timothy</a></li>
                        <li><a href="#" class="link">May 15, 2016</a></li>
                        <li><a href="#" class="link">15 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="group-btn-slick">
    <div class="btn-slick-prev"><i class="fa fa-angle-left"></i></div>
    <div class="btn-slick-next"><i class="fa fa-angle-right"></i></div>
</div>