<div class="related-post-wrapper block-list column-4 padding-top-80">
    <div class="title-topic">related post</div>
    <div class="block-news-content">
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-16.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">How To Combat A Bout Of Chronic Headache</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-17.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-18.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-19.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-20.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-21.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-22.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="news-layout-1 small">
                <a href="#" class="news-image"><img src="assets/images/small-images/image-13.jpg" alt="" class="img-responsive"></a>
                <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                    <ul class="info">
                        <li><a href="#" class="link">May 12,2016</a></li>
                        <li><a href="#" class="link">25 views</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>