<div class="block-heading">
    <div class="heading-left">
        <div class="title-topic">world</div>
    </div>
    <div class="heading-right">
        <ul role="tablist" class="tabs-list tabs-list-news">
            <li role="presentation" class="active"><a data-target="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="link">{{ tabNewsCtrl.articlesArray[0][0]._category.name }}</a></li>
            <li role="presentation"><a data-target="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="link">{{ tabNewsCtrl.articlesArray[1][0]._category.name }}</a></li>
            <li role="presentation"><a data-target="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="link">{{ tabNewsCtrl.articlesArray[2][0]._category.name }}</a></li>
            <li role="presentation"><a data-target="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab" class="link">{{ tabNewsCtrl.articlesArray[3][0]._category.name }}</a></li>
            <li role="presentation"><a data-target="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab" class="link">{{ tabNewsCtrl.articlesArray[4][0]._category.name }}</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tab-content">
    <div id="tab-1" role="tabpanel" class="tab-pane fade in active">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#post/{{ tabNewsCtrl.articlesArray[0][0]._id }}" class="news-image"><img ng-src="{{ tabNewsCtrl.articlesArray[0][0].poster }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#post/{{ tabNewsCtrl.articlesArray[0][0]._id }}" class="title">{{ tabNewsCtrl.articlesArray[0][0].title }}</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">{{ tabNewsCtrl.articlesArray[0][0].commentCount }} comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[0][0].dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[0][0].readCount }} views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">{{ tabNewsCtrl.articlesArray[0][0].summary }}</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item" ng-repeat="news in tabNewsCtrl.articlesArray[0] | limitTo:8:1">
                    <div class="news-layout-1 small">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" class="img-responsive"></a>
                        <div class="news-content"><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li> <a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#post/{{ tabNewsCtrl.articlesArray[1][0]._id }}" class="news-image"><img ng-src="{{ tabNewsCtrl.articlesArray[1][0].poster }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#post/{{ tabNewsCtrl.articlesArray[1][0]._id }}" class="title">{{ tabNewsCtrl.articlesArray[1][0].title }}</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">{{ tabNewsCtrl.articlesArray[1][0].commentCount }} comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[1][0].dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[1][0].readCount }} views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">{{ tabNewsCtrl.articlesArray[1][0].summary }}</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item" ng-repeat="news in tabNewsCtrl.articlesArray[1] | limitTo:8:1">
                    <div class="news-layout-1 small">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" class="img-responsive"></a>
                        <div class="news-content"><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li> <a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-3" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#post/{{ tabNewsCtrl.articlesArray[2][0]._id }}" class="news-image"><img ng-src="{{ tabNewsCtrl.articlesArray[2][0].poster }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#post/{{ tabNewsCtrl.articlesArray[2][0]._id }}" class="title">{{ tabNewsCtrl.articlesArray[2][0].title }}</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">{{ tabNewsCtrl.articlesArray[2][0].commentCount }} comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[2][0].dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[2][0].readCount }} views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">{{ tabNewsCtrl.articlesArray[2][0].summary }}</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item" ng-repeat="news in tabNewsCtrl.articlesArray[2] | limitTo:8:1">
                    <div class="news-layout-1 small">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" class="img-responsive"></a>
                        <div class="news-content"><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li> <a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-4" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#post/{{ tabNewsCtrl.articlesArray[3][0]._id }}" class="news-image"><img ng-src="{{ tabNewsCtrl.articlesArray[3][0].poster }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#post/{{ tabNewsCtrl.articlesArray[3][0]._id }}" class="title">{{ tabNewsCtrl.articlesArray[3][0].title }}</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">{{ tabNewsCtrl.articlesArray[3][0].commentCount }} comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[3][0].dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[3][0].readCount }} views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">{{ tabNewsCtrl.articlesArray[3][0].summary }}</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item" ng-repeat="news in tabNewsCtrl.articlesArray[3] | limitTo:8:1">
                    <div class="news-layout-1 small">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" class="img-responsive"></a>
                        <div class="news-content"><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li> <a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-5" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#post/{{ tabNewsCtrl.articlesArray[4][0]._id }}" class="news-image"><img ng-src="{{ tabNewsCtrl.articlesArray[4][0].poster }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#post/{{ tabNewsCtrl.articlesArray[4][0]._id }}" class="title">{{ tabNewsCtrl.articlesArray[4][0].title }}</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">{{ tabNewsCtrl.articlesArray[4][0].commentCount }} comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[4][0].dateCreated * 1000 | date:'yyyy-MM-dd' }}</a></li>
                                    <li><a href="#" class="link">{{ tabNewsCtrl.articlesArray[4][0].readCount }} views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">{{ tabNewsCtrl.articlesArray[4][0].summary }}</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item" ng-repeat="news in tabNewsCtrl.articlesArray[4] | limitTo:8:1">
                    <div class="news-layout-1 small">
                        <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" class="img-responsive"></a>
                        <div class="news-content"><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a>
                            <ul class="info">
                                <li> <a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li> <a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
