<div class="block-heading">
    <div class="heading-left">
        <div class="title-topic">world</div>
    </div>
    <div class="heading-right">
        <ul role="tablist" class="tabs-list">
            <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="link">business</a></li>
            <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="link">opinions</a></li>
            <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="link">politic</a></li>
            <li role="presentation"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab" class="link">people</a></li>
            <li role="presentation"><a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab" class="link">nation</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tab-content">
    <div id="tab-1" role="tabpanel" class="tab-pane fade in active">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#" class="news-image"><img src="assets/images/big-images/image-4.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">6 comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">May 29,2016</a></li>
                                    <li><a href="#" class="link">25 views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays.</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-16.jpg" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Combat A Bout Of Chronic Headache</a>
                            <ul class="info">
                                <li> <a href="#" class="link">May 12, 2016</a></li>
                                <li> <a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-17.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-18.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-19.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-20.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-21.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-22.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-13.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#" class="news-image"><img src="assets/images/big-images/image-4.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">6 comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">May 29,2016</a></li>
                                    <li><a href="#" class="link">25 views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays.</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-24.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-25.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-26.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-27.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-28.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-29.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-30.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-31.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-3" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#" class="news-image"><img src="assets/images/big-images/image-6.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#" class="title">An Ugly Myspace Profile Will Ruin Your Reputation</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">6 comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">May 29,2016</a></li>
                                    <li><a href="#" class="link">25 views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays.</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-1.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-5.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-2.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-9.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-10.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-6.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-16.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-12.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-4" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#" class="news-image"><img src="assets/images/big-images/image-8.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#" class="title">Sensible Beauty Tips For Enhancing Your Appearance</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">6 comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">May 29,2016</a></li>
                                    <li><a href="#" class="link">25 views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays.</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-19.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-57.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-59.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-3.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-4.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-32.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-15.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-14.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-5" role="tabpanel" class="tab-pane fade">
        <div class="block-news-content">
            <div class="layout-main-news">
                <div class="news-layout-2 bg-gray">
                    <div class="news-video">
                        <a href="#" class="news-image"><img src="assets/images/big-images/image-9.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="news-content"><a href="#" class="title">Herbal Skin Care Secrets Hidden At The Greengrocer</a>
                        <div class="info-wrapper">
                            <div class="info-left">
                                <div class="comment-wrapper">
                                    <div class="comment-avatar">
                                        <div class="avatar avatar-1">T</div>
                                        <div class="avatar avatar-2">M</div>
                                        <div class="avatar avatar-3">A</div>
                                    </div>
                                    <div class="comment-info">6 comments</div>
                                </div>
                            </div>
                            <div class="info-right">
                                <ul class="info">
                                    <li><a href="#" class="link">May 29,2016</a></li>
                                    <li><a href="#" class="link">25 views</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="description">Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays.</p>
                    </div>
                </div>
            </div>
            <div class="layout-list-news column-4">
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-20.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">4 Tips On How To Treat Adult Acne</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-9.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">How To Set Intentions That Energize You</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-8.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">The Basics Of Buying A Telescope</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-25.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Effective Ways To Quit Smoking</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-21.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-12.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Aiming For Higher The Mastopexy</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-27.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">Tips For Choosing The Perfect Gloss For</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="news-layout-1 small">
                        <a href="#" class="news-image"><img src="assets/images/small-images/image-29.jpg" alt="" class="img-responsive"></a>
                        <div class="news-content"><a href="#" class="title">What Is Homeopathic Medicine</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 12,2016</a></li>
                                <li><a href="#" class="link">25 views        </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
