<div class="category-widget widget">
    <div class="title-widget">categories</div>
    <div class="content-widget">
        <ul class="list-unstyled info-list">
            <li><a href="#" class="link"><span class="text">travel</span><span class="number">24</span></a></li>
            <li><a href="#" class="link"><span class="text">business</span><span class="number">36</span></a></li>
            <li><a href="#" class="link"><span class="text">fashion </span><span class="number">50</span></a></li>
            <li><a href="#" class="link"><span class="text">weather </span><span class="number">14</span></a></li>
            <li><a href="#" class="link"><span class="text">sport </span><span class="number">32</span></a></li>
            <li><a href="#" class="link"><span class="text">science </span><span class="number">22</span></a></li>
            <li><a href="#" class="link"><span class="text">technology</span><span class="number">45</span></a></li>
            <li><a href="#" class="link"><span class="text">entertainment </span><span class="number">56</span></a></li>
        </ul>
    </div>
</div>
