<div class="gallery-images widget">
    <div class="title-widget">gallery</div>
    <div class="content-widget">
        <ul class="list-unstyled list-inline">
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-4.jpg" alt="gallery image 1" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-5.jpg" alt="gallery image 2" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-6.jpg" alt="gallery image 3" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-7.jpg" alt="gallery image 4" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-8.jpg" alt="gallery image 5" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-9.jpg" alt="gallery image 6" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-10.jpg" alt="gallery image 1" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-11.jpg" alt="gallery image 2" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-12.jpg" alt="gallery image 3" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-13.jpg" alt="gallery image 4" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-14.jpg" alt="gallery image 5" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
            <li>
                <a href="#" class="thumb"><img src="assets/images/small-images/image-15.jpg" alt="gallery image 6" class="img-responsive" /><span class="dh-overlay"></span></a>
            </li>
        </ul>
    </div>
</div>
