<div class="trending-news widget">
    <div class="title-widget">trending news</div>
    <div class="content-widget">
        <div class="trending-news-list">
            <div class="single-recent-post-widget white" ng-repeat="news in trendingWidgetCtrl.newses | limitTo:3:0">
                <div class="img-wrapper">
                    <a href="#post/{{ news._id }}" class="thumb"><img ng-src="{{ news.poster }}" alt="" class="img-responsive" /></a>
                </div>
                <div class="post-info"><a href="#post/{{ news._id }}" class="title">{{ news.title }} </a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <ul class="info">
                                <li><a href="#" class="link">{{ news.dateCreated * 1000 | date:"yyyy-MM-dd" }}</a></li>
                                <li><a href="#" class="link">{{ news.readCount }} views</a></li>
                            </ul>
                        </div>
                        <div class="info-right">
                            <div class="ratings">
                                <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-100"><strong class="rating">5.00 out of 5</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
