<div class="trending-news widget">
    <div class="title-widget">trending news</div>
    <div class="content-widget">
        <div class="trending-news-list">
            <div class="single-recent-post-widget white">
                <div class="img-wrapper">
                    <a href="#" class="thumb"><img src="assets/images/small-images/image-1.jpg" alt="" class="img-responsive" /></a>
                </div>
                <div class="post-info"><a href="#" class="title">Replication For Dummies 4 Easy Steps To Professional DVD</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <ul class="info">
                                <li><a href="#" class="link">May 29, 2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                        <div class="info-right">
                            <div class="ratings">
                                <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-100"><strong class="rating">5.00 out of 5</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-recent-post-widget white">
                <div class="img-wrapper">
                    <a href="#" class="thumb"><img src="assets/images/small-images/image-2.jpg" alt="" class="img-responsive" /></a>
                </div>
                <div class="post-info"><a href="#" class="title">Cooking Recipes Anytime And Anywhere</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <ul class="info">
                                <li><a href="#" class="link">May 29,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                        <div class="info-right">
                            <div class="ratings">
                                <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-60"><strong class="rating">5.00 out of 5</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-recent-post-widget white">
                <div class="img-wrapper">
                    <a href="#" class="thumb"><img src="assets/images/small-images/image-3.jpg" alt="" class="img-responsive" /></a>
                </div>
                <div class="post-info"><a href="#" class="title">Stu Unger Rise And Fall Of A Poker Genius</a>
                    <div class="info-wrapper">
                        <div class="info-left">
                            <ul class="info">
                                <li><a href="#" class="link">May 29,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                        <div class="info-right">
                            <div class="ratings">
                                <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00 out of 5                            </strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
