<div class="list-news-widget widget">
    <div class="title-topic">featured news</div>
    <div class="content-widget">
        <!-- BLOCK 3-->
        <div class="block-news-3">
            <div class="block-news-content">
                <div class="layout-main-news">
                    <div class="news-layout-1">
                        <div class="news-video">
                            <a href="#" class="news-image"><img src="assets/images/normal-images/image-12.jpg" alt="" class="img-responsive"></a>
                            <div class="group-btn-video"><span class="btn-play"><i class="fa fa-play"></i></span><span class="btn-volume"><i class="fa fa-volume-off"></i></span><span class="btn-zoom"><i class="fa fa-arrows-alt"></i></span></div>
                        </div>
                        <div class="news-content"><a href="#" class="title">Lasik Procedures Explained Can It Help Your Blurred Vision</a>
                            <ul class="info">
                                <li><a href="#" class="link">by david hall</a></li>
                                <li><a href="#" class="link">May 15,2016</a></li>
                                <li><a href="#" class="link">25 views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layout-list-news">
                    <div class="single-recent-post-widget">
                        <div class="img-wrapper">
                            <a href="#" class="thumb"><img src="assets/images/small-images/image-28.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#" class="title">Replication For Dummies 4 Easy Steps To Professional DVD</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 15, 2016</a></li>
                                <li><a href="#" class="link">15 likes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-recent-post-widget">
                        <div class="img-wrapper">
                            <a href="#" class="thumb"><img src="assets/images/small-images/image-26.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#" class="title">Cooking Recipes Anytime And Anywhere</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 15, 2016</a></li>
                                <li><a href="#" class="link">15 likes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-recent-post-widget">
                        <div class="img-wrapper">
                            <a href="#" class="thumb"><img src="assets/images/small-images/image-27.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#" class="title">Stu Unger Rise And Fall Of A Poker Genius</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 15, 2016</a></li>
                                <li><a href="#" class="link">15 likes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-recent-post-widget">
                        <div class="img-wrapper">
                            <a href="#" class="thumb"><img src="assets/images/small-images/image-1.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#" class="title">Herbal Skin Care Secrets Hidden At The Greengrocer</a>
                            <ul class="info">
                                <li><a href="#" class="link">May 15, 2016</a></li>
                                <li><a href="#" class="link">15 likes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>