<div class="list-news-widget widget">
    <div class="title-topic">featured by author</div>
    <div class="content-widget">
        <!-- BLOCK 3-->
        <div class="block-news-3">
            <div class="block-news-content">
                <div class="layout-main-news">
                    <div class="news-layout-1">
                        <div class="news-video">
                            <a href="#" class="news-image"><img src="{{feautredByAuthorCtrl.firstFeaturedByAuthor.image}}" alt="" class="img-responsive"></a>
                            <div class="group-btn-video"><span class="btn-play"><i class="fa fa-play"></i></span><span class="btn-volume"><i class="fa fa-volume-off"></i></span><span class="btn-zoom"><i class="fa fa-arrows-alt"></i></span></div>
                        </div>
                        <div class="news-content"><a href="#" class="title">{{feautredByAuthorCtrl.firstFeaturedByAuthor.title}}</a>
                            <ul class="info">
                                <li><a href="#" class="link">by {{feautredByAuthorCtrl.firstFeaturedByAuthor.author}}</a></li>
                                <li><a href="#" class="link">{{feautredByAuthorCtrl.firstFeaturedByAuthor.date}}</a></li>
                                <li><a href="#" class="link">{{feautredByAuthorCtrl.firstFeaturedByAuthor.views}} views</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layout-list-news">
                    <div class="single-recent-post-widget" ng-repeat="news in feautredByAuthorCtrl.restFeaturedByAuthor">
                        <div class="img-wrapper">
                            <a href="#" class="thumb"><img src="{{news.image}}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-info"><a href="#" class="title">{{news.title}}</a>
                            <ul class="info">
                                <li><a href="#" class="link">{{news.date}}</a></li>
                                <li><a href="#" class="link">{{news.likes}} likes</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>