<div class="slide-banner widget">
    <div class="title-topic">post slider</div>
    <div class="content-widget overflow-hidden">
        <div class="slick-1-item">
            <div class="item">
                <div class="news-layout-3">
                    <a href="#" class="news-image"><img src="assets/images/normal-images/image-14.jpg" alt="" class="img-responsive"></a>
                    <div class="news-content">
                        <div class="label-wrapper"><a href="#" class="label-topic"><span>sport</span></a></div><a href="#" class="title">The Basics Of Western Astrology Explained</a></div>
                </div>
            </div>
            <div class="item">
                <div class="news-layout-3">
                    <a href="#" class="news-image"><img src="assets/images/normal-images/image-7.jpg" alt="" class="img-responsive"></a>
                    <div class="news-content">
                        <div class="label-wrapper"><a href="#" class="label-topic"><span>fashion</span></a></div><a href="#" class="title">Getting Cheap Airfare For Last Minute Travel        </a></div>
                </div>
            </div>
        </div>
        <div class="group-btn-slick text-center">
            <div class="btn-slick-prev"><i class="fa fa-angle-left"></i></div>
            <div class="btn-slick-next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>
