<div class="slide-banner widget">
    <div class="title-topic">post slider</div>
    <div class="content-widget overflow-hidden">
        <div class="slick-1-item">
            <div class="item" ng-repeat="news in postSliderCtrl.newses | limitTo:4:0 ">
                <div class="news-layout-3">
                    <a href="#post/{{ news._id }}" class="news-image"><img ng-src="{{ news.poster }}" alt="" class="img-responsive"></a>
                    <div class="news-content">
                        <div class="label-wrapper"><a href="#category/{{ news._category._id }}/page/1" class="label-topic"><span>{{ news._category.name }}</span></a></div><a href="#post/{{ news._id }}" class="title">{{ news.title }}</a></div>
                </div>
            </div>
        </div>
        <div class="group-btn-slick text-center">
            <div class="btn-slick-prev"><i class="fa fa-angle-left"></i></div>
            <div class="btn-slick-next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>
