<div class="tags-wrapper widget">
    <div class="title-topic">tags</div>
    <div class="content-widget">
        <ul class="list-box-tag list-inline">
            <li class="item-box-tag"><a href="#search/blackpink/page/1" class="box-tag">blackpink</a></li>
            <li class="item-box-tag"><a href="#search/life/page/1" class="box-tag">life</a></li>
            <li class="item-box-tag"><a href="#search/miss world/page/1" class="box-tag">miss world</a></li>
            <li class="item-box-tag"><a href="#search/star/page/1" class="box-tag">star</a></li>
            <li class="item-box-tag"><a href="#search/hollywood/page/1" class="box-tag">hollywood</a></li>
            <li class="item-box-tag"><a href="#search/kpop/page/1" class="box-tag">kpop</a></li>
        </ul>
    </div>
</div>