<div class="tags-wrapper widget">
    <div class="title-topic">tags</div>
    <div class="content-widget">
        <ul class="list-box-tag list-inline">
            <li class="item-box-tag"><a href="" class="box-tag">category</a></li>
            <li class="item-box-tag"><a href="" class="box-tag">video</a></li>
            <li class="item-box-tag"><a href="" class="box-tag">business</a></li>
            <li class="item-box-tag"><a href="" class="box-tag">technology</a></li>
            <li class="item-box-tag"><a href="" class="box-tag">sport</a></li>
            <li class="item-box-tag"><a href="" class="box-tag">markets</a></li>
        </ul>
    </div>
</div>