<div class="main-content">
    <banner-default></banner-default>
    <div class="hot-news">
        <div class="container">
            <hot-news></hot-news>
        </div>
    </div>
    <div class="main-news-wrapper padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12 main-news main-left">
                    <!-- BLOCK 1-->
                    <div class="block-news-1 margin-bottom-80">
                        <popular-news></popular-news>
                    </div>
                    <!-- BANNER ADS-->
                    <div class="banner-ads-wrapper margin-bottom-80">
                        <a href="#" class="banner-ads-728x90"><img src="assets/images/qc-images/banner-728x90-6.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <!-- BLOCK 2-->
                    <div class="block-news-2">
                        <tab-news></tab-news>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 sidebar">
                    <div class="sidebar-wrapper">
                        <div class="col-2">
                            <banner-sidebar></banner-sidebar>
                            <whats-trending></whats-trending>
                        </div>
                        <div class="col-2">
                            <post-slider></post-slider>
                            <subscribe-feed></subscribe-feed>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>