<div class="main-content">
    <section class="breadcrumb-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-active">Contact Us   </span></li>
                </ol>
                <div class="breadcrumb-text">Get in touch</div>
            </div>
        </div>
    </section>
    <section class="content-contact padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="group-contact-info col-md-6">
                    <div class="title-topic">contact information</div>
                    <p class="content-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                        perspiciatis unde omnis iste.</p>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="info-container info-number">
                                <div class="info-icon-wrapper"><img src="assets/images/background/ic-contact-phone-number.png" alt="" class="img-responsive info-icon"></div>
                                <div class="info-content-wrapper">
                                    <p class="info-tag">phone no.</p>
                                    <p class="info-content detail-info-phone">839-329-6860</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="info-container info-working-time">
                                <div class="info-icon-wrapper"> <img src="assets/images/background/ic-contact-working-time.png" alt="" class="img-responsive info-icon"></div>
                                <div class="info-content-wrapper">
                                    <p class="info-tag">working time</p>
                                    <p class="info-content">everytime</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="info-container info-email">
                                <div class="info-icon-wrapper"> <img src="assets/images/background/ic-contact-email.png" alt="" class="img-responsive info-icon"></div>
                                <div class="info-content-wrapper">
                                    <p class="info-tag">email</p>
                                    <p class="info-content"><a href="#" class="detail-info-email">info@dailymagz.com</a></p>
                                    <p class="info-content"><a href="#" class="detail-info-email">help@dailymagz.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="info-container info-address">
                                <div class="info-icon-wrapper"> <img src="assets/images/background/ic-contact-address.png" alt="" class="img-responsive info-icon"></div>
                                <div class="info-content-wrapper">
                                    <p class="info-tag">address</p>
                                    <p class="info-content">866 Raina Knolls Suite 075, NYC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-contact-form col-md-6">
                    <div class="title-topic">contact form</div>
                    <p class="content-text">Please fill quick form consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    <form class="form-group contact-form">
                        <div class="row">
                            <div class="col-md-6 col-xs-6 tbx-name">
                                <div class="input-group"><input type="text" placeholder="Name" class="text-box"></div>
                            </div>
                            <div class="col-md-6 col-xs-6 tbx-email">
                                <div class="input-group"><input type="text" placeholder="Email Address" class="text-box"></div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group"><input type="text" placeholder="Subject" class="text-box"></div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group"><textarea rows="3" placeholder="What you want to tell us?" class="text-area text-box"></textarea></div>
                            </div>
                        </div>
                        <div class="button-group"><a href="#" class="btn-submit">submit message</a></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="map" class="map-contact"></section>
</div>