<div class="main-content">
    <div class="breadcrumb-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-active">About Us   </span></li>
                </ol>
                <div class="breadcrumb-text">Something about us</div>
            </div>
        </div>
    </div>
    <div class="we-are-dailymagz-container padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-topic">
                            we are<span class="main-color"> dailymagz</span></div>
                        <div class="sub-topic-wrapper">
                            <div class="sub-topic">
                                <div class="title-sub-topic">About Us</div>
                                <div class="content-text">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</div>
                            </div>
                            <div class="sub-topic">
                                <div class="title-sub-topic">Our Mission</div>
                                <div class="content-text">Lorem ipsum dolor sit amet, consec tetur adi pisicing elit, sed do eiusmod tempor inci didunt ut labore et dol ore magna aliqua. Ut enim ad minim veniam.</div>
                                <ul class="list-text list-unstyled">
                                    <li class="list-text-item">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
                                    <li class="list-text-item">Duis aute irure dolor in reprehenderit in voluptate velit</li>
                                    <li class="list-text-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="button-group"><a href="#" class="btn-submit">meet our team</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-introduce-wrapper"><img src="assets/images/background/bg-about-us-1.jpg" alt="" class="img-responsive img-introduce"></div>
                    </div>
                </div>
            </div>
            <div class="statistics-wrapper padding-top-80">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="statistics-item">
                            <div class="statistics-item-wrapper">
                                <div class="statistics-item-icon-wrapper"><img src="assets/images/background/ic-statistics-project-completed.png" alt="" class="img-responsive statistics-item-icon"></div>
                                <div data-value="1012" class="statistics-item-figure project-completed">1012</div>
                                <div class="statistics-item-caption">project completed</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="statistics-item">
                            <div class="statistics-item-wrapper">
                                <div class="statistics-item-icon-wrapper"><img src="assets/images/background/ic-statistics-testimonial-received.png" alt="" class="img-responsive statistics-item-icon"></div>
                                <div data-value="489" class="statistics-item-figure testimonial-received">489</div>
                                <div class="statistics-item-caption">testimonial received</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="statistics-item">
                            <div class="statistics-item-wrapper">
                                <div class="statistics-item-icon-wrapper"><img src="assets/images/background/ic-statistics-happy-customer.png" alt="" class="img-responsive statistics-item-icon"></div>
                                <div data-value="3214" class="statistics-item-figure happy-customer">3214</div>
                                <div class="statistics-item-caption">happy customer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="statistics-item">
                            <div class="statistics-item-wrapper">
                                <div class="statistics-item-icon-wrapper"><img src="assets/images/background/ic-statistics-offices-around.png" alt="" class="img-responsive statistics-item-icon"></div>
                                <div data-value="105" class="statistics-item-figure offices-around">105</div>
                                <div class="statistics-item-caption">offices around</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="banner-about-us">
        <div class="banner-content-wrapper">
            <div class="banner-small-slogan">perfect clean & modern design</div>
            <h1 class="banner-big-slogan">we are <span class="identity">dailymagz</span></h1>
            <p class="banner-content-text content-text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamcocommodo.</p>
        </div>
    </section>
    <section class="why-choose-us-wrapper padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="title-topic">why choose us</div>
            <div class="row">
                <div class="col-md-6">
                    <div id="accordion" class="panel-group accordion-about-us">
                        <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#reason-detail-1" class="panel-heading">
                                <div class="panel-title">what we do</div>
                                <div class="panel-icon-wrapper"><i class="fa fa-angle-down panel-icon"></i></div>
                            </div>
                            <div id="reason-detail-1" class="panel-collapse collapse in">
                                <div class="panel-body content-text">Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                                    ac turpis. Integer rutrum ante eu lacus. Ves tibulum libero nisl, porta vel, scelerisque eget, malesuada at.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#reason-detail-2" class="panel-heading collapsed">
                                <div class="panel-title">company philosophy</div>
                                <div class="panel-icon-wrapper"><i class="fa fa-angle-down panel-icon"></i></div>
                            </div>
                            <div id="reason-detail-2" class="panel-collapse collapse">
                                <div class="panel-body content-text">Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                                    ac turpis. Integer rutrum ante eu lacus. Ves tibulum libero nisl, porta vel, scelerisque eget, malesuada at.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#reason-detail-3" class="panel-heading collapsed">
                                <div class="panel-title">our vision</div>
                                <div class="panel-icon-wrapper"><i class="fa fa-angle-down panel-icon"></i></div>
                            </div>
                            <div id="reason-detail-3" class="panel-collapse collapse">
                                <div class="panel-body content-text">Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                                    ac turpis. Integer rutrum ante eu lacus. Ves tibulum libero nisl, porta vel, scelerisque eget, malesuada at.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-introduce-wrapper"><img src="assets/images/background/bg-about-us-2.jpg" alt="" class="img-resposive img-introduce"></div>
                </div>
            </div>
        </div>
    </section>
</div>