<div class="main-content">
    <section class="notify-404">
        <div class="wrapper-404">
            <div class="wrapper-img-404"></div>
            <div class="wrapper-text-404">
                <h1 class="error-404">error 404 page</h1>
                <h4 class="content-404">sorry! this page could not be found</h4></div>
        </div>
    </section>
    <section class="helper-404 padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="useful-link col-md-6">
                    <div class="title-topic">useful link</div>
                    <p class="content-text">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    <ul class="container link-list left-links col-md-6">
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Home</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">About Us</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Help</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">FAQ's</a></li>
                    </ul>
                    <ul class="container link-list col-md-6">
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Privacy & Term</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Our Services</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Portfolio</a></li>
                        <li class="link-list-item"><i class="ic-angle-right fa fa-angle-right"></i><a href="#" class="link-item">Our Blog</a></li>
                    </ul>
                </div>
                <div class="search-form col-md-6">
                    <div class="title-topic">search form</div>
                    <p class="content-text">Please use our search form below</p>
                    <form class="form-group">
                        <div class="input-group"><input type="text" placeholder="Enter you key word" class="text-box box-keyword"><i class="ic-search fa fa-search"></i></div>
                        <div class="button-group"><a href="#" class="btn-submit">submit message</a></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>