<div class="main-content">
    <div class="breadcrumb-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Category</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-active">Single Post</span></li>
                </ol>
                <div class="breadcrumb-text">Single Post</div>
            </div>
        </div>
    </div>
    <div class="single-post padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="title-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="title-topic title-single-post">entertainment</div>
                    </div>
                    <div class="col-md-9">
                        <div class="social-action-wrapper">
                            <div class="action-text">follow <span class="identity">daily magz</span></div>
                            <ul class="social-button-wrapper list-unstyled list-inline">
                                <li class="item">
                                    <div data-layout="button_count" data-href="#" data-action="like" data-size="small" data-show-faces="false" data-share="false" class="fb-like fb-like-button"></div>
                                </li>
                                <li class="item"><a href="https://twitter.com/twitter" data-show-count="true" data-show-screen-name="false" class="twitter-follow-button">Follow @twitter</a></li>
                                <li class="item">
                                    <div data-size="medium" data-align="left" data-count="true" data-annotation="bubble" style="margin-top:4px" class="g-plusone gplus-follow-button"> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12 main-news main-left">
                    <main-single-post></main-single-post>
                    <!-- RELATED POST-->
                    <related-post></related-post>
                    <!-- COMMENTS-->
                    <div class="comments-wrapper padding-top-80">
                        <div class="title-topic">3 comments</div>
                        <div class="comment-nested-wrapper">
                            <ul class="media-list">
                                <li class="media item-comment">
                                    <div class="media-left author-photo-wrapper">
                                        <a href="#" class="author-photo"><img src="assets/images/background/comment-avatar-1.jpg" alt="" class="media-object"></a>
                                    </div>
                                    <div class="media-body body-not-hidden">
                                        <div class="heading-wrapper">
                                            <div class="comment-info-wrapper"><a href="#" class="link"><h4 class="author-name">Troy Owen</h4></a>
                                                <ul class="info">
                                                    <li><a href="#" class="link">May 12, 2016</a></li>
                                                    <li><a href="#" class="link">3 likes</a></li>
                                                </ul>
                                            </div>
                                            <div class="comment-feedback-wrapper"><a href="#" class="action"><i class="fa fa-heart ic-heart">&nbsp;&nbsp;<span class="action-type">Like</span></i></a><a href="#" class="action"><i class="fa fa-reply ic-reply">&nbsp;&nbsp;<span class="action-type">Reply</span></i></a></div>
                                        </div>
                                        <div class="comment-content">The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples, on hand. But why reserve them only for morning meals?</div>
                                        <ul class="media-list inside-media-list">
                                            <li class="media-list item-comment">
                                                <div class="media-left author-photo-wrapper">
                                                    <a href="#" class="author-photo"><img src="assets/images/background/comment-avatar-2.jpg" alt="" class="media-object"></a>
                                                </div>
                                                <div class="media-body body-not-hidden">
                                                    <div class="heading-wrapper">
                                                        <div class="comment-info-wrapper"><a href="#" class="link"><h4 class="author-name">Alan Carson</h4></a>
                                                            <ul class="info">
                                                                <li><a href="#" class="link">May 12, 2016</a></li>
                                                                <li><a href="#" class="link">3 likes</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment-feedback-wrapper"><a href="#" class="action"><i class="fa fa-heart ic-heart">&nbsp;&nbsp;</i><span class="action-type">Like</span></a><a href="#" class="action"><i class="fa fa-reply ic-reply">&nbsp;&nbsp;</i><span class="action-type">Reply</span></a></div>
                                                    </div>
                                                    <div class="comment-content">Audio player software is used to play back sound recordings in one of the many formats available for computers today.</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="media item-comment">
                                    <div class="media-left author-photo-wrapper">
                                        <a href="#" class="author-photo"><img src="assets/images/background/comment-avatar-3.jpg" alt="" class="media-object"></a>
                                    </div>
                                    <div class="media-body body-not-hidden">
                                        <div class="heading-wrapper">
                                            <div class="comment-info-wrapper"><a href="#" class="link"><h4 class="author-name">Landon Hammond</h4></a>
                                                <ul class="info">
                                                    <li><a href="#" class="link">May 12, 2016</a></li>
                                                    <li><a href="#" class="link">3 likes</a></li>
                                                </ul>
                                            </div>
                                            <div class="comment-feedback-wrapper"><a href="#" class="action"><i class="fa fa-heart ic-heart">&nbsp;&nbsp;<span class="action-type">Like</span></i></a><a href="#" class="action"><i class="fa fa-reply ic-reply">&nbsp;&nbsp;<span class="action-type">Reply</span></i></a></div>
                                        </div>
                                        <div class="comment-content">If you love food and beverages, whether you enjoy making them, eating them, or both, there is bound to be a magazine for you.From general interest cooking magazines to magazines focusing on everything from
                                            beer to chocolate, foodies have a home.</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- LEAVE A COMMENT FORM-->
                    <div class="send-comment-wrapper padding-top-80">
                        <div class="title-topic">leave a comment</div>
                        <form class="form-group contact-form">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 tbx-name">
                                    <div class="input-group"><input type="text" placeholder="Name" class="text-box"></div>
                                </div>
                                <div class="col-md-6 col-xs-6 tbx-email">
                                    <div class="input-group"><input type="text" placeholder="Email Address" class="text-box"></div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group"><input type="text" placeholder="Subject" class="text-box"></div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group"><textarea rows="3" placeholder="What you want to tell us?" class="text-area text-box"></textarea></div>
                                </div>
                            </div>
                            <div class="button-group"><button class="btn-submit">submit a comment</button></div>
                        </form>
                    </div>
                </div>
                <!-- SIDEBAR-->
                <div class="col-md-4 col-xs-12 sidebar">
                    <div class="sidebar-wrapper">
                        <div class="col-2">
                            <div class="banner-widget widget">
                                <div class="section-content">
                                    <a href="#" class="link"><img src="assets/images/qc-images/banner-300x250_2.jpg" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <more-news></more-news>
                            <subscribe-feed></subscribe-feed>
                        </div>
                        <div class="col-2">
                            <more-author></more-author>
                            <featured-video></featured-video>
                            <tags-widget></tags-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>