<div class="main-content">
    <div class="breadcrumb-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-active">author list</span></li>
                </ol>
                <div class="breadcrumb-text">meet our author</div>
            </div>
        </div>
    </div>
    <div class="main-news-wrapper padding-top-80 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12 main-news main-left">
                    <div class="block-list column-1">
                        <author-layout></author-layout>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 sidebar">
                    <div class="sidebar-wrapper">
                        <div class="col-2">
                            <banner-sidebar></banner-sidebar>
                            <featured-news></featured-news>
                        </div>
                        <div class="col-2">
                            <featured-video></featured-video>
                            <subscribe-feed></subscribe-feed>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>