<div class="main-content">
    <div class="breadcrumb-container">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrum-item"><span class="breadcrumb-active">Search </span></li>
                </ol>
                <div class="breadcrumb-text">#Tag</div>
            </div>
        </div>
    </div>
    <div class="main-news-wrapper padding-top-80 padding-bottom-80">
        <div class="container">
            <!-- MAIN NEWS-->
            <div class="row">
                <search-news-list></search-news-list>
                <div class="col-md-4 col-xs-12 sidebar">
                    <div class="sidebar-wrapper">
                        <div class="col-2">
                            <lastest-news></lastest-news>
                        </div>
                        <div class="col-2">
                            <subscribe-feed></subscribe-feed>
                            <featured-video></featured-video>
                            <tags-widget></tags-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>